*.Identifier
*.gz
*.iml
*.log
*.out
*.sublime*
*.swp
*.tmp
*~
.DS_Store
.bsp/
.bundle/
.idea
.idea*
.jekyll-cache/
.jekyll-metadata
.sass-cache/
.yardoc
.yardoc/
/spec/reports/
/demo/assets/images/qrcodes/
.agent_memory.json
Gemfile.lock
Notepad++/
RUNNING_PID
__MACOSX
_site/
_yardoc/
coverage/
doc/
binstub/
demo/spec/status_persistence.txt
jekyll/doc/
node_modules/
out/
pkg/
spec/status_persistence.txt
tmp/
~*
