.demo_block_error,
.demo_block_tag_error,
.demo_inline_tag_error {
  border-radius: 4pt;
  border: rgb(155, 141, 141) 2px solid;
  color: black;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-stretch: semi-condensed;
  font-size: 9pt;
  line-height: 150%;
  padding: 2pt 4pt 2pt 4pt;
}

.demo_block_error,
.demo_block_tag_error,
.demo_inline_tag_error {
  background-color: rgb(84, 10, 10);
  border: yellow 4px solid;
  color: white;
}

.flexible_error {
  background-color: pink;
}


.demo_block_error code,
.demo_tag_error code,
.flexible_error code {
  color: lightgray;
  font-size: 10pt;
}
