* {
  box-sizing: border-box;
}

a, a code, a.code, a .code, a tt {
  color: #2879d0;
}

a {
  text-decoration: none;
  background-color: transparent;
}

body {
  color: #333;
  font-family: Merriweather, serif;
  line-height: 1.5;
  margin: 0;
}

code, pre, tt, .code, .codeLabel, h2 .code, h3 .code, h4 .code, h5 .code, h6.code {
  font-family: Monaco,"Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-stretch: semi-condensed;
  font-size: 9pt;
}

h1, .h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h2 .code {
  font-size: 16pt;
}

h3 .code {
  font-size: 14pt;
}

h4 .code {
  font-size: 12pt;
}

header, h1, h2, h3, h4, h5, h6, nav#sidebar {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

header {
  background: #095e2e;
  display: flow-root;
  height: 160px;
  position: relative;
}

header div.h1 {
  font-weight: bold;
  color: #fff;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0.2em;
  margin-top: 0;
}

header h1 {
  color: #9dffe5;
  letter-spacing: 0;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: 0;
}

header > .inner {
  padding-top: 40px;
}

#sidebar {
  float: right;
  line-height: 1.3;
  min-height: 504px;
  width: 200px;
}

#sidebar ul {
  padding-left: 0;
}

#sidebar li {
  margin-bottom: 1em;
  list-style: none;
  padding-left: 0;
}

pre {
  background: #78B4DB21;
  border: solid 1px #cecece;
  overflow: auto;
  padding: 4px;
  text-indent: initial;
  text-shadow: none;
  font-size: 9pt;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}

.copyright {
  margin-top: 2em;
  border-top: thin solid black;
  padding-top: 1em;
}

.inner {
  padding-left: 2em;
}

#main-content, .inner {
  padding-bottom: 2em;
  padding-top: 0;
}

#main-content {
  float: left;
  width: 80%;
}

.bg_yellow, .bg_light_yellow {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .inner {
    width: 740px;
  }

  #main-content {
    width: 490px;
  }
}

@media only screen and (min-width: 768px) {
  #tocSide {
    position: relative;
    right: 0;
    width: 220px;
    display: block;
  }

  #tocMain {
    display: none;
  }
}


@media only screen and (max-width: 767px) {
  .inner {
    width: 93%;
  }

  #main-content,
  nav#sidebar {
    float: none;
    width: 100% ! important;
  }

  nav#sidebar {
    background-image: none;
    border-top: solid 1px #ddd;
    margin-top: 20px;
    min-height: 0;
    padding: 20px 0;
  }

  nav#sidebar a.button {
    display: none;
  }

  #tocSide {
    display: none;
  }

  #tocMain {
    display: block;
  }
}
